.search-container {
  position: relative;
  display: flex;
}

.search {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.search--focused {
  outline: none;
}

.search.open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* .search-container {
  display: none;
} */

.search-results.open {
  display: block;
  position: absolute;
  z-index: 100;
  top: 31px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.search-results {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.search-results > .search-result {
  cursor: pointer;
  padding: 10px 20px;
}

.search-result {
  a {
    font-weight: 400;

    .search-highlight {
      font-weight: 600;
    }
  }
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}
