@import "../variables";

.sidebar {
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: 1px solid #aaa;
    list-style-type: none;
    border-radius: 6px;
    padding: 0.5rem;
    width: $sidebar-width;
    margin-right: 1rem;

    & > li {
        padding: 0.5rem;
    }

    .version-list {
        list-style-type: none;
        padding-left: 1.5rem;

        & > li {
            padding: 0.25rem;
        }
    }

    details {
        border-radius: 4px;
    }

    summary {
        font-weight: bold;
        margin: -0.5rem -0.5em 0;
        padding: 0.5rem;
    }

    // details[open] {

    //     & > summary {

    //     }
    // }
}
