.class {
  padding: 1rem;
  border: 1px rgba(131, 131, 131, 0.8) solid;
  border-radius: 5px;
}

.class,
.interface {
  .class-declaration {
    font-size: 1.25rem;
  }

  .constructor-param-list {
    padding-left: 20px;
  }

  .property {
    .documentation {
      margin-left: 20px;
    }
  }

  .method-definition {
    font-size: 1.1rem;
  }

  .method-documentation {
    padding: 0;
    margin-bottom: 50px;

    .documentation {
      margin: 10px;
    }

    dl.parameters {
      margin: 10px;
      padding: 10px;
      border: 1px rgba(131, 131, 131, 0.8) solid;
      border-radius: 5px;

      dt {
        font-weight: 600;
      }

      dd {
        margin-top: 10px;
        margin-left: 20px;

        ul {
          padding-left: 5px;
          list-style: square;
        }
      }
    }
  }
}
