@import "./variables";

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande",
    sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #108db8;
  font-weight: bold;
}

img {
  max-width: 100%;
}

.keyword {
  font-weight: 500;
  color: #3478e6;
}

.container {
  display: flex;
  flex-direction: column;

  .content-wrapper {
    max-width: 100vw;
    overflow-x: hidden;

    .split {
      .sidebar {
        width: $sidebar-width;
        position: fixed;
        top: $navbar-height;
        left: 0;
        bottom: 0;
        margin: 1rem;
        z-index: 1;
      }

      .content {
        margin-top: 1rem;
        margin-left: calc(#{$sidebar-width} + 4rem);
        width: calc(100vw - #{$sidebar-width} - 2rem * 3);
      }
    }
  }
}

.navbar {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  height: $navbar-height;
  background: #108db8;
  display: flex;
  align-items: center;
  z-index: 100;

  .link {
    color: white;
    padding: 1rem;
    display: inline-block;
  }
}
